{% extends "base.html" %}

{% block maincontent %}
            <h1 class="remove-bottom" style="margin-top: 40px">Web&pi;</h1>
            <h5>Version 0.1&#946</h5>
            <hr />
        <div class="one-third column">
            <h3>About Web&pi;?</h3>
            <p>Web&pi; is a collection of web applications that can be used
                by developers to easily get started on there project.
                Go ahead, check it out!</p>
        </div>
        <div class="one-third column">
            <h3>Three Core Principles</h3>
            <p>Web&pi; is built on three core principles:</p>
            <ul class="square">
                <li><strong>Simple</strong>: Do one thing, do it well.</li>
                <li><strong>Speedy</strong>: It's a tool for rapid development with best practices.</li>
                <li><strong>Extensible</strong>: It provides ways to add more functionality in a snap!</li>
            </ul>
        </div>
        <div class="one-third column">
            <h3>Docs &amp; Support</h3>
            <p>The easiest way to really get started with Web&pi; is to check dive in. There is not much documentation or support as of now. If you have any questions, thoughts, concerns or feedback, please don't hesitate to email me at <a href="mailto:feltnerm@uwplatt.edu">feltnerm@uwplatt.edu</a>.</p>
        </div>
</div>
{% endblock %}
